/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$theme-colors: (
  "light": #ddf8fa,
  "primary": #0698b190,
  "success": #76B041,
  "warning": #D6C9C9,
  "secondary": gray,
  "info": #F6F7F7,
  "dark": #177E89
);

@import 'bootstrap';

header {
  height: 10vh;
  padding: 10px 0px 20px 5px;

  > img {
    height: 100%;
  }
}

main {
  height: 90vh;
}

#map {
  width: 100%;
  height: 50vh;
  background-color: grey;
}

.map-btn {
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 5px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.primary-address {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.secondary-address {
  color: gray
}

.simple_form abbr {
  text-decoration: none;
}

#areaSelectingGif > img {
  height: 30vh;
}

.errors {
  color: #fa755a;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 3px #4a4a4a;
}

.edit-button {
  font-size: 20px;
  border: 1px solid lightgray;
  color: gray;
}

.font-size-35 {
  font-size: 35px;
}

.currency-symbol {
  font-size: 25px;
  vertical-align: super;
}

.modal {
  // Ensures autocomplete suggestions are shown in the front most layer 
  // https://stackoverflow.com/a/10958563
  z-index: 20;
}

.modal-backdrop {
  z-index: 10;        
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}

.btn.disabled, .btn:disabled {
  opacity: 0.3;
}