/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$theme-colors: (
  "light": #EBD7C9,
  "primary":  #212f38,
  "success": #517f9e,
  "warning": #291B14,
  "secondary": gray,
  "info": #B8A5A3,
  "dark": #421C16,
  "discount": #becead,
  "black": black,
  "gray": #3f3f3f,
);

@import 'bootstrap';

html {
  font-family: Helvetica !important;

  --light: #EBD7C9;
  --primary: #50809d;
  --success: #517f9e;
  --warning: #291B14;
  --secondary: gray;
  --info: #B8A5A3;
  --dark: #421C16;
  --discount: #becead;
}

html, body {
  height: 100%;
  background-size: 100px;
  background-repeat: no-repeat;
}

#map {
  width: 100%;
  height: calc(100vh - 85px); // removes bootstrap add on for search bar
  background-color: grey;
  // border: 2px solid #d0cfcf;
  border-radius: 10px;
  // box-shadow: 3px 3px 3px 0px;
}

.map-btn {
  border: 2px solid #fff;
  border-radius: 3px;
  margin: 5px;
  font-size: 14px;
}

.hidden {
  display: none;
}

#summary > .card {
  position: absolute;
  top: 100px;
  left: 50px;
  border: 2px solid #d0cfcf;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 0px;
}

#summary {
  img {
    padding-right: 10px;
    border-right: 2px dotted #517f9e;
  }
  .card-body {
    .col-9 {
      margin: auto;
      padding-top: 15px;
    }
  }
  #summaryArea {
    font-size: 28px;
  }
}

#addressSearchBar {
  .btn {
    background-color: white;
    border: 1px solid #ced4da;
    border-left: none;
    font-size: 16px;
  }
}
.primary-address {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.secondary-address {
  color: gray
}

.errors {
  color: #fa755a;
}

.text-shadow {
  text-shadow: 0.5px 0.5px 3px #4a4a4a;
}
.font-size-35 {
  font-size: 35px;
}
.font-size-20 {
  font-size: 20px;
}
.currency-symbol {
  font-size: 25px;
  vertical-align: super;
}